$ff-primary: IRANYekan;

$font-url: "/assets/fonts";

$fontt-faces: (
  $ff-primary: (
    300: (
      font-style: normal,
      font-weight: 300,
      src: url("#{$font-url}/woff/iranyekan-web-regular-fanum.woff"),
    ),
    normal: (
      font-style: normal,
      font-weight: normal,
      src: url("#{$font-url}/woff/iranyekan-web-regular-fanum.woff"),
    ),
    bold: (
      font-style: normal,
      font-weight: bold,
      src: url("#{$font-url}/woff/iranyekan-web-bold-fanum.woff"),
    ),
  ),
);

