.products {
  @include flex(row, nowrap, flex-start, space-between);
  margin: 0 auto;
  width: 90%;
  gap: space(16);
  &__products-list {
    width: 80%;
    @include flex(row, wrap, flex-start, flex-start);
  }
  &__filters {
    width: 20%;
  }
}
