.products {
  @include flex(row, nowrap, center, space-between);
  margin: 0 auto;
  width: 90%;
  gap: space(16);
  &__products-list {
    width: 70%;
    @include flex(row, wrap, center, space-between);
    gap: spcae(5);
  }
  &__filters {
    width: 30%;
  }
}
